.Exercise-title h1
{
  font-size: 60px;
  margin-top: 100px;
  text-align: center;
  /*margin-left: 200px;*/
}

.Exercise-title h5
{
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: -20px;
  color: #979797;
  /*margin-left: 200px;*/
}

.Exercise-container 
{
    display: flex;
    margin-right: 400px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    background-color: black;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .box
  {
    background-color: black;
    color: #93826E;
    margin:10px;
    width: 300px;
    height:390px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #F9004D;
    border-bottom: 5px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
    flex-direction: column;
    display:flex ;
    transition: transform 0.3s ease-out;

    /*transform: translateX(0);*/
  }

  .box:active
  {
    cursor: grabbing;
  }

  h2
  {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p
  {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .read-more
  {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .read-more:hover
  {
    background-color: #000000;
  }
  body
  {
    background-color: rgb(71, 63, 63);
  }
  
  .image 
  {  
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 10px;
    border-color: white;
  }

  .image:hover {
    transform: scale(1.1);
  }

  .button
  {
    color:rgb(0, 0, 0);
    background-color:#d4d4d4;
    border-radius: 30px;
    padding: 8px 16px;
    border: none;
  }

  .button:hover
  {
    color:white;
    background-color:#F9004D;
    border-radius: 30px;
  }
  
  .text
  {
    color: white;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
  }

  .bar
  {
    color:/*#98744a;*/white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  